@model MvcStock.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle","Kategori",FormMethod.Post))
 {
    <div class="form-group">
        @Html.LabelFor(m=>m.KATEGORIID)
        @Html.TextBoxFor(m=>m.KATEGORIID, new {@class = "form-control"})
         <br />
        @Html.LabelFor(m=>m.KATAGORIAD)
        @Html.TextBoxFor(m=>m.KATAGORIAD, new {@class = "form-control"})
    </div>
    <div>
        <button class="btn btn-warning">GÜNCELLE</button>
    </div>
 }

<table class="tab tab-content">
   
</table>