
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MVC-Stock</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Kategori/Index/">Kategoriler</a></li>
                <li><a href="/Urun/Index/">Ürünler</a></li>
                <li><a href="/Musteri/Index/">Müşteriler</a></li>
                <li><a href="/Satis/Index/">Satışlar</a></li>
                <li><a href="/Yardim/Index/" data-toggle="modal" data-target="#Modal2">Yardım</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <div class="modal" id="Modal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Yardım
                </div>
                <br />
                <div class="modal-body">
                    Bu proje MVC yapısında geliştirilmiştir. Bu projede CRUD işlemleri yapılmaktadır. Proje içerisinde Kategori, Ürün, Müşteri ve Satış işlemleri bulunmaktadır. Proje içerisinde Bootstrap kütüphanesi kullanılmıştır.
                    <br />
                    <br
                    <tr><a href="/Kategori/Index/" class="btn btn-success">Anasayfaya Dön</a></tr>
                </div>
                <div class="modal-footer" style="background-color: dimgray">
                 

                </div>
            </div>
    </div>

</body>
</html>
