@model  MvcStock.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" />
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA" />
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,/* m.karagoriid için model belirlendi*/(List<SelectListItem>)ViewBag.dgr/*viewbag çağırma*/, new {@class = "form-control"}/*diğerleriyle uyumlu olsun diye*/)
        <label>Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" />
        <label>Kalan Stok</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div style="margin-top:15px ">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

